            body{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                background-color:bisque;
                margin: 0px;

            }
            main{
                display: flex;
                gap: 10px;
                align-items: stretch;
                background-color: beige;
                max-width: 1000px;
                margin-top: 0px;
                margin-bottom: 0px;
                margin: 2rem auto;
                border-radius: 12px;
                padding: 20px;
                box-shadow: 2px 2px sandybrown;
            }
            header, footer{
                background-color:saddlebrown;
                margin-top: 0px;
                padding: 10px;
                text-align: center;
                color: sandybrown;
                box-shadow: 10px 0px 50px maroon;
            }
            h1{
                text-shadow: 2px 2px maroon ;
            }
            p{
                color: beige;
            }
            h2{
                background-color: sandybrown;
                padding: 2px;
                color: saddlebrown;
                padding: 5px;
            }
            h3{
                background-color: sandybrown;
                padding: 2px;
                color: saddlebrown;
                padding: 5px;

            }
            .menu, .receipt{
                color: saddlebrown;
                padding: 10px;
            }
            .menuHeading{
                display: flex;
                background-color: saddlebrown;
                flex-direction: column;
                border-radius: 12px;
            }
            .motto{
                margin-top: auto;
                font-style: italic;
                padding: 1rem;
            }
            .itemList{
                color: saddlebrown;
                margin: 5px;
                font-size: large;
            }
            .menuList{
                border: 2px solid burlywood;
                padding: 5px;
                border-radius: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
                box-shadow: 2px 2px maroon;
                width: 250px;
                display: flex;
                flex-direction: column;
            }
            button{
                background-color: saddlebrown;
                color: sandybrown;
                border: 2px solid sandybrown;
                border-radius: 5px;
                height: auto;
                font-size: medium;
                margin-bottom: 2rem;
                margin-top: auto;
                padding: 5px;
                margin-top: 15px;
                padding-left: 10px;
                padding-right: 10px;
                box-shadow: 2px 2px maroon;
            }
            button:hover{
                background-color: sandybrown;
                color: saddlebrown;
                border: 2px solid saddlebrown;
                border-radius: 20px;
            }